* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  margin: 0;
  background: #f2f4f8;
}

/* 페이지 중앙 정렬 */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 앱 프레임 */
.app {
  width: 360px;
  min-height: 600px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* 헤더 */
.app-header {
  text-align: center;
}

.app-header h1 {
  margin: 0;
  font-size: 20px;
}

.sub {
  font-size: 12px;
  color: #666;
}

/* 사용자 정보 */
.user-box {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #333;
}

/* 문제 */
.question-box {
  background: #f8f9fb;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

/* 단어 카드 영역 */
.word-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.word {
  padding: 6px 10px;
  background: #e3e7ff;
  border-radius: 8px;
  cursor: grab;
  user-select: none;
  white-space: nowrap;
}

/* 드롭 영역 */
.drop-box {
   min-height: 80px;
  border: 2px dashed #aaa;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;              

  font-size: 13px;
  color: #777;
}

.insert-zone {
    flex: 1;
    height: 100%;
}

/* 버튼 */
.control-box {
  display: flex;
  gap: 10px;
}

.control-box button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #4a6cff;
  color: white;
  cursor: pointer;
}

.app.correct {
    border: 3px solid #3cb371;
}

.app.wrong {
    border: 3px solid #ff4d4f;
}